body{
	height:100%;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}

h1{
	font-size:3rem;
}
	

canvas {
  display: block;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  pointer-events: none;
}

@media (min-width:40em){
	h1{
		font-size:5rem;
	}
}